<main>
    <div id="signinView">
            <form method="post" action="/signin" id="signin-form">
                <label for="email">Email:</label>
                <input name="email" id="email" type="text"> <br>
                <label for="password">Password:</label>
                <input name="password" id="password" type="password"> <br>
                <button name="submitButton" id="submitButton">Submit</button>
            </form>
    </div>
    <div id="errorView">{{error}}</div>
</main>
<footer>
    <a href="/signup">Click here to sign-up!</a>
</footer>