<main>
    <div id="signupView">
        <form method="post" action="/signup" name="signup-form" id="signup-form">
            <label for="firstName">First Name:</label>
            <input name="firstName" id="firstName" type="text"> <br>

            <label for="lastName">Last Name:</label>
            <input name="lastName" id="lastName" type="text"> <br>

            <label for="email">Email:</label>
            <input name="email" id="email" type="text"> <br>

            <label for="password">Password:</label>
            <input name="password" id="password" type="password"> <br>

            <label for="confirmPassword">Confirm Password:</label>
            <input name="confirmPassword" id="confirmPassword" type="password"> <br>

            <label for="phoneCode">Phone Code(country wise):</label>
            <input name="phoneCode" id="phoneCode" type="text"> <br>

            <label for="phoneNumber">Phone Number:</label>
            <input name="phoneNumber" id="phoneNumber" type="text"> <br>

            <label for="dateOfBirth">Your birth date:</label>
            <input name="dateOfBirth" id="dateOfBirth" type="date"> <br>

            <label for="userType">User Type:</label>
            <select name="userType" id="userType">
                <option value="founder">Founder</option>
                <option value="investor">Investor</option>
            </select> <br>
            <button name="submitButton" id="submitButton">Submit</button>
        </form>
    </div>
    <div id="errorView">{{error}}</div>
</main>
<footer>
    <a href="/signin">Already have an account? Click here to sign-in</a>
</footer>