<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Project</title>
    <link rel="stylesheet" href="../../public/css/main.css">
    <script src="../../public/authenticationValidation.js" defer></script>
</head>
<body class="{{themePreference}}">
<header>
    <h1>FOUNDER'S LINK</h1>
</header>
{{{body}}}
</body>
</html>
