 {{!-- <div id="videos">
        <video class="video-player" id="user-1" autoplay playsinline></video>
        <video class="video-player" id="user-2" autoplay playsinline></video>
    </div>


<div id="controls">

        <div class="control-container" id="camera-btn">
            <img src="/public/assests/camera.png" />
        </div>

        <div class="control-container" id="mic-btn">
            <img src="/public/assests/mic.png" />
        </div>

        <a >
            <div class="control-container" id="leave-btn">
                <img src="/public/assests/phone.png" />
            </div>
        </a>

    </div> --}}

<div class="dashboard">
     
  <div class="left-section">
    <!-- Placeholder for 70% content -->

    <div id="contentContainer">
        <p>
            Click on the name: 
            <span id="nameElement" class="name-element" data-user-id="67494ab65e0c3abe69c1a62c">John Doe</span>
        </p>
    </div>


    <div id="contentContainer1">
        <p>
            Click on the name: 
            <span id="nameElementInvestor" class="name-element" data-user-id="67494ab65e0c3abe69c1a62d">aadam</span>
        </p>
    </div>
  </div>
  <div class="right-section">
    <div class="user-list">
      <!-- Dynamic list of users -->
    </div>
    <div class="chat-window hidden" id="chatWindow">
      <div class="chat-header">
        <span id="chatUserName"></span>
             <div class="d-flex align-items-center justify-content-between mt-3">
             <button class="btn btn-primary btn-sm start-vc" i data-unique-user-id="">
    <i class="bi bi-camera-video"></i> Start VC
  </button>
  <button class="btn btn-danger btn-sm close-chat" onclick="closeChat()">
    <i class="bi bi-x-circle"></i> Close
  </button>
</div>
      </div>
      <div class="chat-messages" id="chat-container">
        
        <!-- Chat messages will be appended dynamically -->
      </div>
      <div class="chat-input">
        <form action="" , id="chat-form">
           <input type="text" id="messageInput" placeholder="Type your message...">
           <input type="submit"  value="send message "  ></button>
        </form>
       
      </div>
    </div>
  </div>
</div>
