<div class="dashboard">
  <div class="left-section">
    <!-- Placeholder for 70% content -->
  </div>
  <div class="right-section">
    <div class="user-list">
      <!-- Dynamic list of users -->
    </div>
    <div class="chat-window hidden" id="chatWindow">
      <div class="chat-header">
        <span id="chatUserName"></span>
        <button class="close-chat" onclick="closeChat()">X</button>
      </div>
      <div class="chat-messages" id="chat-container">
        
        <!-- Chat messages will be appended dynamically -->
      </div>
      <div class="chat-input">
        <form action="" , id="chat-form">
           <input type="text" id="messageInput" placeholder="Type your message...">
           <input type="submit"  value="send message "  ></button>
        </form>
       
      </div>
    </div>
  </div>
</div>
