  <div id="videos">
        <video class="video-player" id="user-1" autoplay playsinline></video>
        <video class="video-player" id="user-2" autoplay playsinline></video>
    </div>

    <div id="controls">

        <div class="control-container" id="camera-btn">
            <img src="/public/assests/camera.png" />
        </div>

        <div class="control-container" id="mic-btn">
            <img src="/public/assests/mic.png" />
        </div>

        <a href="" id="dynamicLink">
            <div class="control-container" id="leave-btn">
                <img src="/public/assests/phone.png" />
            </div>
        </a>

    </div>