<main>
    <div id="signinView">
        <form method="post" action="/signin" id="signin-form">
            <label for="email">Email:</label>
            <input name="email" id="email" type="text" required> <br>

            <label for="password">Password:</label>
            <input name="password" id="password" type="password" required> <br>

            <button type="submit" name="submitButton" id="submitButton">Submit</button>
        </form>
    </div>
    <div id="error-div" hidden></div>
    <a href="/signup">Click here to sign-up!</a>
</main>
<footer>
    <a href="/signup">Click here to sign-up!</a>
</footer>
